.embedVideoLogos {
    display: block;
    background: #f1f1f1;
    float: left;
    width: 95px;
    margin-right: 10px;
    height: 36px;
    border-radius: 4px;
    padding-left: 95px;
    overflow: hidden;
    border:1px solid #ddd;
    background-repeat: no-repeat;
    background-position: center -3px;
    opacity: .7;
}

.embedVideoLogos.embedVideoDailymotion {
    width: 120px;
    padding-left: 120px;
}

.embedVideoLogos.active, .embedVideoLogos.active:hover {
	background-color: #52bad5;
	border-color: #52bad5;
    background-position: center -43px;
    opacity: 1;
}

.embedVideoYoutube {
	background-image: url('images/ev-logo-youtube.png')
}

.embedVideoVimeo {
	background-image: url('images/ev-logo-vimeo.png')
}

.embedVideoDailymotion {
	background-image: url('images/ev-logo-dailymotion.png')
}

.multipleTemplateHideButton .multipleTemplateInstance .step-nav a.addAboveButton {
	display: none;
}

.multipleTemplateHideButton .multipleTemplateWrapper .col-md-11,
.formLinkVideo {
	width:auto !important;
}

.formLinkVideo .embedVideoFieldLink ,
.formLinkVideo .embedVideoForm{
	float:left;
}

.multipleTemplateHideButton .multipleTemplateWrapper .col-md-1 {
	padding-left: 0px;
}

.embedVideoLogos:hover {
	cursor: pointer;
    border-color: #bbb;
    opacity: 1;
}

.embedVideoUrlInput {
	display:none;
}