.embedVideoLogos {
    display: block;
    background: #f1f1f1;
    float: left;
    width: 95px;
    margin-right: 10px;
    height: 36px;
    border-radius: 4px;
    padding-left: 95px;
    overflow: hidden;
    border:1px solid #ddd;
    background-repeat: no-repeat;
    background-position: center -3px;
    opacity: .7;
}

.embedVideoLogos.embedVideoDailymotion {
    width: 120px;
    padding-left: 120px;
}

.embedVideoLogos.active, .embedVideoLogos.active:hover {
    background-color: #52bad5;
    border-color: #52bad5;
    background-position: center -43px;
    opacity: 1;
}

.embedVideoYoutube {
    background-image: url('images/ev-logo-youtube.png')
}

.embedVideoVimeo {
    background-image: url('images/ev-logo-vimeo.png')
}

.embedVideoDailymotion {
    background-image: url('images/ev-logo-dailymotion.png')
}

.multipleTemplateHideButton {
    float: left;
    width: 100%;
}

.multipleTemplateHideButton .multipleTemplateWrapper .multipleTemplateInstance {
    background-color: transparent;
    border: none;
    padding: 0;
}

.multipleTemplateHideButton .instanceAddAbove,
.multipleTemplateHideButton .instanceRearranger {
    display: none;
}

.multipleTemplateHideButton .multipleTemplateInstance td.instanceMain {
    padding:0;
}

.multipleTemplateHideButton .multipleTemplateWrapper .col-md-11,
.formLinkVideo {
    width:auto !important;
}

.formLinkVideo .embedVideoFieldLink ,
.formLinkVideo .embedVideoForm{
    float:left;
}

.multipleTemplateHideButton .multipleTemplateWrapper .col-md-1 {
    padding-left: 0px;
}

.embedVideoLogos:hover {
    cursor: pointer;
    border-color: #bbb;
    opacity: 1;
}

.embedVideoUrlInput {
    display:none;
}
.smallButton
{
    width:16px;
    height:13px;
    margin-top:10px;
}
.mediumButton
{
    width:21px;
    height:17px;
    margin-top:6px;
}
.largeButton
{
    width:33px;
    height:23px;
}

h2.VideoTitle {
    float: left;
    font-size: 24px;
}

.allSizeScreenButton {
    float:right;
    margin-top: 21px;
}

.allSizeScreenButton .resizeButton
{
    border:2px solid #DDDDDD;
    float:left;
    margin-left:8px;
    cursor:pointer;
    border-radius: 3px
    
}
.allSizeScreenButton .resizeButton:hover, .allSizeScreenButton .resizeButton.active {
    border:2px solid #52bad5;   
}

.allSizeScreenButton .resizeButton.active {
    background-color: #f1f1f1;
}

.videoMainContainer {
    float:left;
    width:100%;
    margin-top:5px;
    background-color:#f1f1f1;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.videoContainer .embedvideo,
.videoContainer .videofile {
    margin:auto;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-transition: width .5s;
    transition: width .5s;
}

.videoContainer.smallSize .embedvideo,
.videoContainer.smallSize .videofile {
    width: 50%;
}

.videoContainer.mediumSize .embedvideo,
.videoContainer.mediumSize .videofile {
    width: 75%;
}

.videoContainer.largeSize .embedvideo,
.videoContainer.largeSize .videofile {
    width: 100%;
    height: 100% !important;
}

.embedvideowrap {
    width: 100% !important;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.embedvideowrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 767px) {

    .allSizeScreenButton {
        display: none;
    }

    .videoContainer.smallSize .embedvideo,
    .videoContainer.mediumSize .embedvideo,
    .videoContainer.largeSize .embedvideo,
    .videoContainer.smallSize .videofile,
    .videoContainer.mediumSize .videofile,
    .videoContainer.largeSize .videofile {
        width:100%;
    }

}


